@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Roboto-Regular"),
    url("../../fonts/Roboto/Roboto-Reular.ttf") format("ttf");
    unicode-range: U+0400-04FF;
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local("Roboto-Bold"),
    url("../../fonts/Roboto/Roboto-Bold.ttf") format("ttf");
}
