.camera {
    position: relative;

    &__canvas {
        background: var(--black);
        border-radius: var(--border-radius-m);

        &--posenet {
            position: absolute;
            left: 0;
            background: transparent;
        }
    }
}
